    <!-- About Section -->
    <section id="info" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Our Team</h2>
              <br/>

                <p>The UMass Hackathon Team comprises of students from the College of Engineering, the College of Information and Computer Science, and students who love to build and code. Our mission is to provide these students with instruction and growth opportunities through workshops, competitions, and networking.</p>

                <p>The UMass Hackathon Team is open to any and all students enrolled at the University of Massachusetts Amherst who want to learn and build great things. We meet weekly on Thursdays from 7-9pm in Marcus Hall 106 and are always open to meet new students with an interest in joining our organization.</p>

                <br/>
              </div>
        </div>
    </section>
