    <!-- About Section -->
    <section id="info" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2 class="section-heading">Our Team</h2>

                <p>The UMass Hackathon Team comprises of students from all over the University who love to build and code. Our goal is to provide our members with growth opportunities through workshops, competitions, and networking.</p>

                <p>Our organization is open to any and all UMass Amherst students who love learning and building. Meetings are held <b>Thursdays, 7-9pm in Marcus Hall 106</b>.</p>

                <br/><br/>
              </div>
        </div>
    </section>
